<a href="https://colab.research.google.com/github/chi-hun/baekjoon_test/blob/main/baekjoon_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/

1871 success

In [ ]:
n = int(input())
for _ in range(n):
  a, b = map(str, input().split('-'))
  a_a=0
  b = int(b)
  for i in range(3):
    a_a += (ord(a[i])-65)*(26**(2-i))
  if abs(a_a - b) > 100:
    print('not nice')
  else:
    print('nice')

2
ABC-0123
nice
AAA-9999
not nice

2010 success   (colab  sys.stdin.readline() 에러 발생)

In [ ]:
import sys
n = int(sys.stdin.readline())
re = 1
for _ in range(n):
    re += int(sys.stdin.readline())-1
print(re)

1924 success

In [ ]:
mon_day=[31,28,31,30,31,30,31,31,30,31,30,31]
mon, day = map(int, input().split())
dday = day - 1
for i in range(mon-1):
  dday += mon_day[i]
if dday % 7 == 0 :
  print('MON')
elif dday % 7 == 1 :
  print('TUE')
elif dday % 7 == 2 :
  print('WED')
elif dday % 7 == 3 :
  print('THU')
elif dday % 7 == 4 :
  print('FRI')
elif dday % 7 == 5 :
  print('SAT')
elif dday % 7 == 6 :
  print('SUN')

12 25
TUE

In [ ]:
import datetime
year = 2007
mon, day = map(int, input().split())
a = datetime.datetime(year, mon, day)
print(a.strftime('%a').upper())

12 25
TUE

1919 success

In [ ]:
a = [i for i in input()]
b = [i for i in input()]
a_1 = [i for i in a]
b_1 = [i for i in b]
for i in a:
  if i in b_1:
    b_1.remove(i)
for i in b:
  if i in a_1:
    a_1.remove(i)   
print(len(a_1) + len(b_1))

aabbcc
xxbbyy
8

1952 success

In [ ]:
a, b = map(int, input().split())
if a == b or a < b:
    print((a - 1) * 2)
else:
    print((b - 1) * 2 + 1)

2 10
3

1964 success

In [ ]:
n = int(input())
if n == 1:
  print(5)
else:
  re = 5
  pl = 7
  for i in range(1,n):
    re += pl
    pl += 3
  print(re)

19
590

1975 success

In [ ]:
import sys
def jin(a, b):
  if a % b == 0:
    return 1 + jin(a//b, b)
  else:
    return 0
for _ in range(int(sys.stdin.readline())):
  n = int(sys.stdin.readline())
  re = 0
  for i in range(2, n+1):
    re += jin(n, i)
  print(re)

2
5
1
10
3

1977 success

In [ ]:
re = []
m = int(input())
n = int(input())
m_r = int(m**0.5)
n_r = int(n**0.5)
for i in range(m_r, n_r+1):
  if m <= i*i <= n:
    re.append(i*i)
if len(re) == 0:
  print(-1)
else:
  print(sum(re))
  print(min(re))

60
100
245
64

1996 success

In [ ]:
n = int(input())
mine = []
for _ in range(n):
  mine.append(input())
for i in range(n):
  re =''
  for j in range(n):
    if mine[i][j] != '.':
      re += '*'
    else:
      re_s = 0
      if j-1 != -1 and i-1 != -1 : # -1, -1
        if mine[i-1][j-1] != '.':
          re_s += int(mine[i-1][j-1])
      if i-1 != -1 :              # 0, -1
        if mine[i-1][j] != '.':
          re_s += int(mine[i-1][j])
      if j+1 != n and i-1 != -1 : # +1, -1
        if mine[i-1][j+1] != '.':
          re_s += int(mine[i-1][j+1])
      if j-1 != -1 :              # -1, 0
        if mine[i][j-1] != '.':
          re_s += int(mine[i][j-1])
      if j+1 != n :              # +1, 0
        if mine[i][j+1] != '.':
          re_s += int(mine[i][j+1])
      if j-1 != -1 and i+1 != n : # -1, +1
        if mine[i+1][j-1] != '.':
          re_s += int(mine[i+1][j-1])
      if i+1 != n :              # 0, +1
        if mine[i+1][j] != '.':
          re_s += int(mine[i+1][j])
      if j+1 != n and i+1 != n : # +1, +1
        if mine[i+1][j+1] != '.':
          re_s += int(mine[i+1][j+1])
      if re_s > 9:
        re += 'M'
      else:
        re += str(re_s)
  print(re)

5
1....
..3..
.....
.4...
...9.
*4330
14*30
47730
4*M99
44M*9

2028 success

In [ ]:
n = int(input())
for _ in range(n):
  a = int(input())
  a_a = a*a
  if int(str(a_a)[-len(str(a)):]) == a:
    print('YES')
  else:
    print('NO')

4
1
YES
6
YES
76
YES
89
NO

2033 success

In [ ]:
n = int(input())
re = n
x_0 = 10
while re > x_0:
  if re % x_0 >= x_0//2:
    re += x_0
  re -= re % x_0
  x_0 *= 10
print(re)

446
500

2037 success

In [ ]:
al = {' ':[0,1], 'A':[2,1], 'B':[2,2], 'C':[2,3], 'D':[3,1], 'E':[3,2], 'F':[3,3], 'G':[4,1], 'H':[4,2], 'I':[4,3], 
      'J':[5,1], 'K':[5,2], 'L':[5,3], 'M':[6,1], 'N':[6,2], 'O':[6,3], 'P':[7,1], 'Q':[7,2], 'R':[7,3], 'S':[7,4], 
      'T':[8,1], 'U':[8,2], 'V':[8,3], 'W':[9,1], 'X':[9,2], 'Y':[9,3], 'Z':[9,4]}
n, p = map(int, input().split())
word = input()
re = 0
for i in range(len(word)):
    if i == 0:
        re += n*al[word[i]][1]
    elif word[i] == ' ':
        re += n*al[word[i]][1]
    elif al[word[i-1]][0] == al[word[i]][0]:
        re += (n*al[word[i]][1]+p)
    else:
        re += n*al[word[i]][1]
print(re)

2 10
ABBAS SALAM
72

2052 success

In [ ]:
n = int(input())
n_2 = f'{(2**(-n)):.250f}'
idd = 0
for i in range(len(n_2)-1,0,-1):
    if n_2[i] != '0':
        idd = i
        break
print(n_2[:idd+1])

24
0.000000059604644775390625

2061 success

In [ ]:
import sys
k, l = sys.stdin.readline().split()

for i in range(2,int(l)):
    if(int(k) % i == 0):
        print("BAD", i)
        exit()
        
print("GOOD")

143 11
GOOD

2083 success

In [ ]:
lis = []
while 1:
    li = list(map(str, input().split()))
    if li[0] == '#' and li[1] == '0' and li[2] == '0' :
        break
    else:
        lis.append(li)
for i in lis :
    if int(i[1]) > 17 or int(i[2]) >= 80 :
        print(i[0], 'Senior')
    else :
        print(i[0], 'Junior')

Joe 16 34
# 0 0
['Joe', '16', '34']
Joe Junior

2097 success

In [ ]:
n = int(input())
a = 1
b = 1
while 1:
    if (a+1) * (b+1) >= n :
        break
    else:
        if a  >= b:
            b += 1
        else:
            a += 1
print(2*(a+b))

5
6

2139 success

In [ ]:
import datetime
while 1:
    d, m, y = map(int, input().split())
    if d == 0 and m == 0 and y == 0:
        break
    d_day = datetime.datetime(y, m, d) - datetime.datetime(y, 1, 1)
    print(d_day.days+1)

2145 success

In [1]:
while 1:
    n = input()
    if not int(n):
        break
    while len(n) != 1:
        a = 0
        for i in range(len(n)):
            a += int(n[i])
        n = str(a)
    print(n)

673
7
51
6
1000
1
99
9
0

2153 success

In [11]:
sosu = [0]+[1]*1040
for i in range(2, int(1040**0.5)+1):
    if sosu[i]:
        for j in range(i+i, 1040, i):
            sosu[j] = 0
word = input()
word_n = 0
for i in range(len(word)):
    if word[i].isupper():
        word_n += ord(word[i]) - 64
    else:
        word_n += ord(word[i]) - 96
if sosu[word_n]:
    print('It is a prime word.')
else:
    print('It is not a prime word.')

contest
It is not a prime word.