<a href="https://colab.research.google.com/github/chi-hun/baekjoon_test/blob/main/baekjoon_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/

1871 success

In [ ]:
n = int(input())
for _ in range(n):
  a, b = map(str, input().split('-'))
  a_a=0
  b = int(b)
  for i in range(3):
    a_a += (ord(a[i])-65)*(26**(2-i))
  if abs(a_a - b) > 100:
    print('not nice')
  else:
    print('nice')

2
ABC-0123
nice
AAA-9999
not nice

2010 success   (colab  sys.stdin.readline() 에러 발생)

In [ ]:
import sys
n = int(sys.stdin.readline())
re = 1
for _ in range(n):
    re += int(sys.stdin.readline())-1
print(re)

1924 success

In [ ]:
mon_day=[31,28,31,30,31,30,31,31,30,31,30,31]
mon, day = map(int, input().split())
dday = day - 1
for i in range(mon-1):
  dday += mon_day[i]
if dday % 7 == 0 :
  print('MON')
elif dday % 7 == 1 :
  print('TUE')
elif dday % 7 == 2 :
  print('WED')
elif dday % 7 == 3 :
  print('THU')
elif dday % 7 == 4 :
  print('FRI')
elif dday % 7 == 5 :
  print('SAT')
elif dday % 7 == 6 :
  print('SUN')

12 25
TUE

In [ ]:
import datetime
year = 2007
mon, day = map(int, input().split())
a = datetime.datetime(year, mon, day)
print(a.strftime('%a').upper())

12 25
TUE

1919 success

In [ ]:
a = [i for i in input()]
b = [i for i in input()]
a_1 = [i for i in a]
b_1 = [i for i in b]
for i in a:
  if i in b_1:
    b_1.remove(i)
for i in b:
  if i in a_1:
    a_1.remove(i)   
print(len(a_1) + len(b_1))

aabbcc
xxbbyy
8

1952 success

In [ ]:
a, b = map(int, input().split())
if a == b or a < b:
    print((a - 1) * 2)
else:
    print((b - 1) * 2 + 1)

2 10
3

1964 success

In [ ]:
n = int(input())
if n == 1:
  print(5)
else:
  re = 5
  pl = 7
  for i in range(1,n):
    re += pl
    pl += 3
  print(re)

19
590

1975 success

In [ ]:
import sys
def jin(a, b):
  if a % b == 0:
    return 1 + jin(a//b, b)
  else:
    return 0
for _ in range(int(sys.stdin.readline())):
  n = int(sys.stdin.readline())
  re = 0
  for i in range(2, n+1):
    re += jin(n, i)
  print(re)

2
5
1
10
3

1977 success

In [ ]:
re = []
m = int(input())
n = int(input())
m_r = int(m**0.5)
n_r = int(n**0.5)
for i in range(m_r, n_r+1):
  if m <= i*i <= n:
    re.append(i*i)
if len(re) == 0:
  print(-1)
else:
  print(sum(re))
  print(min(re))

60
100
245
64

1996 success

In [ ]:
n = int(input())
mine = []
for _ in range(n):
  mine.append(input())
for i in range(n):
  re =''
  for j in range(n):
    if mine[i][j] != '.':
      re += '*'
    else:
      re_s = 0
      if j-1 != -1 and i-1 != -1 : # -1, -1
        if mine[i-1][j-1] != '.':
          re_s += int(mine[i-1][j-1])
      if i-1 != -1 :              # 0, -1
        if mine[i-1][j] != '.':
          re_s += int(mine[i-1][j])
      if j+1 != n and i-1 != -1 : # +1, -1
        if mine[i-1][j+1] != '.':
          re_s += int(mine[i-1][j+1])
      if j-1 != -1 :              # -1, 0
        if mine[i][j-1] != '.':
          re_s += int(mine[i][j-1])
      if j+1 != n :              # +1, 0
        if mine[i][j+1] != '.':
          re_s += int(mine[i][j+1])
      if j-1 != -1 and i+1 != n : # -1, +1
        if mine[i+1][j-1] != '.':
          re_s += int(mine[i+1][j-1])
      if i+1 != n :              # 0, +1
        if mine[i+1][j] != '.':
          re_s += int(mine[i+1][j])
      if j+1 != n and i+1 != n : # +1, +1
        if mine[i+1][j+1] != '.':
          re_s += int(mine[i+1][j+1])
      if re_s > 9:
        re += 'M'
      else:
        re += str(re_s)
  print(re)

5
1....
..3..
.....
.4...
...9.
*4330
14*30
47730
4*M99
44M*9

2028 success

In [ ]:
n = int(input())
for _ in range(n):
  a = int(input())
  a_a = a*a
  if int(str(a_a)[-len(str(a)):]) == a:
    print('YES')
  else:
    print('NO')

4
1
YES
6
YES
76
YES
89
NO

2033 success

In [ ]:
n = int(input())
re = n
x_0 = 10
while re > x_0:
  if re % x_0 >= x_0//2:
    re += x_0
  re -= re % x_0
  x_0 *= 10
print(re)

446
500

2037 success

In [ ]:
al = {' ':[0,1], 'A':[2,1], 'B':[2,2], 'C':[2,3], 'D':[3,1], 'E':[3,2], 'F':[3,3], 'G':[4,1], 'H':[4,2], 'I':[4,3], 
      'J':[5,1], 'K':[5,2], 'L':[5,3], 'M':[6,1], 'N':[6,2], 'O':[6,3], 'P':[7,1], 'Q':[7,2], 'R':[7,3], 'S':[7,4], 
      'T':[8,1], 'U':[8,2], 'V':[8,3], 'W':[9,1], 'X':[9,2], 'Y':[9,3], 'Z':[9,4]}
n, p = map(int, input().split())
word = input()
re = 0
for i in range(len(word)):
    if i == 0:
        re += n*al[word[i]][1]
    elif word[i] == ' ':
        re += n*al[word[i]][1]
    elif al[word[i-1]][0] == al[word[i]][0]:
        re += (n*al[word[i]][1]+p)
    else:
        re += n*al[word[i]][1]
print(re)

2 10
ABBAS SALAM
72

2052 success

In [ ]:
n = int(input())
n_2 = f'{(2**(-n)):.250f}'
idd = 0
for i in range(len(n_2)-1,0,-1):
    if n_2[i] != '0':
        idd = i
        break
print(n_2[:idd+1])

24
0.000000059604644775390625

2061 success

In [ ]:
import sys
k, l = sys.stdin.readline().split()

for i in range(2,int(l)):
    if(int(k) % i == 0):
        print("BAD", i)
        exit()
        
print("GOOD")

143 11
GOOD

2083 success

In [ ]:
lis = []
while 1:
    li = list(map(str, input().split()))
    if li[0] == '#' and li[1] == '0' and li[2] == '0' :
        break
    else:
        lis.append(li)
for i in lis :
    if int(i[1]) > 17 or int(i[2]) >= 80 :
        print(i[0], 'Senior')
    else :
        print(i[0], 'Junior')

Joe 16 34
# 0 0
['Joe', '16', '34']
Joe Junior

2097 success

In [ ]:
n = int(input())
a = 1
b = 1
while 1:
    if (a+1) * (b+1) >= n :
        break
    else:
        if a  >= b:
            b += 1
        else:
            a += 1
print(2*(a+b))

5
6

2139 success

In [ ]:
import datetime
while 1:
    d, m, y = map(int, input().split())
    if d == 0 and m == 0 and y == 0:
        break
    d_day = datetime.datetime(y, m, d) - datetime.datetime(y, 1, 1)
    print(d_day.days+1)

2145 success

In [ ]:
while 1:
    n = input()
    if not int(n):
        break
    while len(n) != 1:
        a = 0
        for i in range(len(n)):
            a += int(n[i])
        n = str(a)
    print(n)

673
7
51
6
1000
1
99
9
0

2153 success

In [ ]:
sosu = [0]+[1]*1040
for i in range(2, int(1040**0.5)+1):
    if sosu[i]:
        for j in range(i+i, 1040, i):
            sosu[j] = 0
word = input()
word_n = 0
for i in range(len(word)):
    if word[i].isupper():
        word_n += ord(word[i]) - 64
    else:
        word_n += ord(word[i]) - 96
if sosu[word_n]:
    print('It is a prime word.')
else:
    print('It is not a prime word.')

contest
It is not a prime word.

2154 success

In [ ]:
n = input()
nn = ''
for i in range(1, int(n)+1):
    nn += str(i)
for i in range(len(nn)):
    if nn[i:i+len(n)] == n:
        print(i+1)
        break

142
73

2154 success

In [ ]:
n = int(input())
for _ in range(n):
    a, b = map(int, input().split())
    a_1 = 1
    for i in range(a,0,-1):
        a_1 *= i
    b_1 = 1
    for i in range(b,b-a,-1):
        b_1 *= i
    print(b_1//a_1)

3
2 2
1
1 5
5
13 29
67863915

1037 success

In [ ]:
n = int(input())
lis = list(map(int, input().split()))
liss = sorted(lis)
print(liss[0]*liss[-1])

14
14 26456 2 28 13228 3307 7 23149 8 6614 46298 56 4 92596
185192

1059 success

In [ ]:
l = int(input())
lis = sorted(list(map(int, input().split())))
n = int(input())
lis_m = min(lis)
if n < lis_m:
    print(n-1 + lis_m-1-n + (n-1)*(lis_m-1-n))
else:
    a, b = 0, 0
    for i in lis:
        if i >= n:
            b = i-1
            a = lis[lis.index(i)-1]+1
            break
    if n in lis:
        print(0)
    else:
        print(n-a + b-n + (n-a) * (b-n))

4
4 7 14 10
2
3

1064 success

In [ ]:
ax, ay, bx, by, cx, cy = list(map(int, input().split()))
if (by-ay)*(cx-ax) == (cy-ay)*(bx-ax):
    print(-1.0)
else:
    a = ((ax-bx)**2 + (ay-by)**2)**0.5
    b = ((bx-cx)**2 + (by-cy)**2)**0.5
    c = ((cx-ax)**2 + (cy-ay)**2)**0.5
    re = max((a+b)*2, (b+c)*2, (c+a)*2) - min((a+b)*2, (b+c)*2, (c+a)*2)
    print(re)

2 -1 -7 2 -1 0
-1.0

1094 success

In [ ]:
x = int(input())
stick = [64]
while 1:
    if sum(stick) == x:
        print(len(stick))
        break
    a = int(min(stick)/2)
    if sum(stick) - a >= x :
        stick.remove(min(stick))
        stick.append(a)
    else:
        stick.remove(min(stick))
        stick.append(a)
        stick.append(a)

23
[64]
[32]
[16, 16]
[16, 8]
[16, 4, 4]
[16, 4, 2, 2]
[16, 4, 2, 1]
4

1158 success

In [ ]:
n, k = map(int, input().split())
mem = [i for i in range(1, n+1)]
re = []
a = 0
for _ in range(n):  
    for i in range(k-1):
        a +=1
        if a >= len(mem):
            a = a % len(mem)
        if len(mem) == 1:
            a = 0
    re.append(mem[a])
    mem.remove(mem[a])
aaa = str(re).replace('[','<').replace(']','>')
print(aaa)

7 3
<3, 6, 2, 7, 5, 1, 4>

1246 success

In [ ]:
n, m = map(int, input().split())
mem = [int(input()) for _ in range(m)]
va = []
inn = []
for i in mem:
    ct = 0
    for j in mem:
        if j >= i :
            ct += 1
    if ct >= n:
        ct = n
    va.append(i)
    inn.append(i*ct)
ma = max(inn)
print(va[inn.index(ma)], ma)

5 4
2
8
10
7
7 21

1251 success

In [ ]:
n = input()
re = []
for i in range(1, len(n)-1):
    for j in range(i+1, len(n)):
        a = n[:i]
        b = n[i:j]
        c = n[j:]
        a =  a[::-1]
        b =  b[::-1]
        c =  c[::-1]
        re.append(a+b+c)
print(sorted(re)[0])

mobitel
bometil

1292 success

In [ ]:
n, m = map(int, input().split())
nu = []
nn = 1
ct = 0
for i in range(m):
    if ct == nn:
        nn += 1
        ct = 1
    else:
        ct += 1
    nu.append(nn)
print(sum(nu[n-1:]))

3 7
15

1308 success

In [9]:
import datetime
y_1, m_1, d_1 = map(int, input().split())
y_2, m_2, d_2 = map(int, input().split())
a = datetime.datetime(y_1, m_1, d_1)
b = datetime.datetime(y_2, m_2, d_2)
if (b-a).days >= 365243:
    print('gg')
else:
    print(f'D-{(b-a).days}')

2008 12 27
2009 1 22
D-26

1312 success

In [29]:
a,b,n = map(int, input().split())
a %= b
for i in range(n-1):
    a = (a*10) % b
    
print((a*10) // b)

1 1 1
0

1331 fail

In [ ]:
road = []
re = 1
for _ in range(36):
    road.append(input())
road_s = list(set(road))
if len(road_s) != 36:
    print('Invalid')
    exit()
for i in range(35):
    if abs(ord(road[i][0])-ord(road[i+1][0])) < 3 and abs(int(road[i][1])-int(road[i+1][1])) < 3 and abs(ord(road[i][0])-ord(road[i+1][0])) + abs(int(road[i][1])-int(road[i+1][1])) == 3:
        continue 
    else:
        re = 0
        break
if re :
    print('Valid')
else:
    print('Invalid')

1343 success

In [11]:
bor = input()
bor_1 = []
st = bor[0]
a = ''
for i in bor:
    if st == i:
        a += i 
    else:
        bor_1.append(a)
        st = i
        a = ''
        a += i
bor_1.append(a)
re = 1
for i in range(len(bor_1)):
    if bor_1[i][0] == 'X':
        if len(bor_1[i]) % 2 == 1:
            re = 0
        else:
            aa =''
            ln = len(bor_1[i])
            while ln != 0:
                if ln > 2:
                    aa += 'AAAA'
                    ln -= 4
                else:
                    aa += 'BB'
                    ln -= 2
            bor_1[i] = aa
if re:
    print(''.join(bor_1))
else:
    print(-1)

..XX.XXXXXXXXXX..XXXXXXXX...XXXXXX
..BB.AAAAAAAABB..AAAAAAAA...AAAABB

1417 success

In [18]:
n = int(input())
no_1 = int(input())
no_a = [int(input()) for _ in range(n-1)]
if n == 1:
    print(0)
else:
    ct = 0
    while no_1 <= max(no_a):
        idd = no_a.index(max(no_a))
        no_a[idd] -= 1
        no_1 += 1
        ct += 1
    print(ct)

5
5
10
7
3
8
4

1439 success

In [29]:
bitt = input()
bitt_0 = bitt[0]
box_0 = []
box_1 = []
box_00 = ''
box_11 = ''
for i in range(len(bitt)):
    if bitt[i] == '0':        
        if bitt_0 == '0':
            box_00 += '0'
        else:
            bitt_0 = '0'
            box_00 = '0'
            box_1.append(box_11)
    else:        
        if bitt_0 == '1':
            box_11 += '1'
        else:
            bitt_0 = '1'
            box_11 = '1'
            box_0.append(box_00)
if bitt_0 == '0':
    box_0.append(box_00)
else:
    box_1.append(box_11)
print(min(len(box_0),len(box_1)))

11101101
2

1459 success

In [47]:
x, y, w, s = map(int, input().split())
time_d = 0
if 2*w < s:
    time_d = w*(x+y)
else:
    if 2*w > 2*s:
        time_d += s * (min(x,y))
        if abs(x-y) % 2 == 0:
            time_d += s *(abs(x-y))
        else:
            time_d += s *(abs(x-y)-1) + w
    else:
        time_d = s * (min(x,y)) + w * (abs(x-y))
print(time_d)

135 122 43 29
3929